*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
}

body {
    background-color:  #1da19b;
    padding-top: 100px;
}

header { 
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 95px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(232, 241, 238);
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    border: none;
    color: #fff;

}

form {
    display: flex;
    width: auto;
    margin: 80px;
    justify-content:space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #d3cdcd;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: #357522;
    color: #ffffff;
    font-size: 24px;
    font-weight: lighter;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table{
    width: 100%;
}

table th{
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    color: antiquewhite;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}